body {
  /* color: #757575; */
  background-color: #fafafa;
}

.App {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  padding: 2rem 4rem;
}

a {
  text-decoration: none;
}

span {
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  width: 80%;
}

/* Navbar */
.App > .navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem;
  /* border: 2px solid red; */
}

.navbar .navbar-collapse {
  flex-grow: initial;
}

.navbar .me-auto {
  gap: 2rem;
}

.navbar .dropdown {
  margin-left: 6rem;
}

.navbar .cart {
  position: relative;
  float: right;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

/* Wrappers */
.App, .home,
.art,
.film, .blog {
  /* border: 1px solid red; */
  padding: 1rem 3rem 1rem 3rem;
}

/* Row Cards */
.home-card {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 85vh;
  padding: 1rem 5rem;
}

.home-text {
  max-width: 30vw;
  /* border: 1px solid black; */
}

.home-image > img {
  height: 85vh;
  width: 28vw;
}

/* Art */
.art-card {
  /* border: 2px solid blue; */
  margin: 2rem 4rem;
  max-width: fit-content;
}

.art-title {
  padding: 1rem 2.5rem;
  text-align: justify;
}

.art-image {
  padding: 1rem 2rem;
}

.art-duo {
  display: flex;
  max-width: 47%;
  gap: 1rem;
  margin: 1rem;
}

.duo-desc, .trio-desc {
  text-align: center;
  padding: 1rem 5rem;
}

.art-trio {
  display: flex;
  max-width: 30%;
  gap: 1.8rem;
  margin: 1rem;
}

/* Subscribre */
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  max-width: 40vw;
}

.mb-3 {
  width: 30vw;
}

/* Home - Insta */
.home .home-insta {
  height: 40vh;
  width: 100%;
  border: 1px solid green;
}

.insta-card {
  display: flex;

  border: 3px solid yellow;
}

/* Column cards */
.film-card, .blog-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 3rem;
}

/* Film */

iframe {
  width: 80%;
  min-height: 75vh;
}

.film-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 6rem;
}

h5 {
  text-align: center;
}

.film-credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Music */
.music-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 6.5rem;
}

.music-description {
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  width: 80%;
}

/* Domination */


.subscribe-title {
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  float: right;
  overflow: visible;
  right: 12rem;
  bottom: 24rem;
}

.domination-cover-image > img {
  height: 75vh;
  width: 35vw;
}

.domination-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 2rem 7rem;
}

.domination-card-image {
  min-width: 45vw;
}

.domination-card-description {
  padding: 1.5rem;
}

.bdsm {
  text-align: center;
}

.blog-link {
  text-transform: capitalize;
}

/* Blog */

.b-title {
  padding: 3rem;
  text-align: center;
}

.b-text {
  padding: 2rem;
  text-align: justify;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 720px) {
  iframe {
    width: 100%;
    min-height: 95%;
  }
}
