.App {
  text-align: center;
}

/* Navbar */
.App > .navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.5rem;
  /* border: 2px solid red; */
}

.navbar .navbar-collapse {
  flex-grow: initial;
}

.navbar .me-auto {
  gap: 2rem;
  /* border: 2px solid green; */
}

.navbar .dropdown {
  margin-left: 6rem;
}

.navbar .cart {
  position: relative;
  float: right;
}

/* Wrappers */
.App > .home, .art, .film {
  border: 1px solid red;
  margin: 7rem;
}

/* Cards */
.home-card, .art-card {
  display: flex;
  border: 2px solid blue;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 2rem 7rem;
}

.home-image > img, .art-image {
  height: 65vh;
  width: 20vw;

}

/* Subscribre */
.subscribre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.home .mb-3 {
  width: 30vw;
}

/* Home - Insta */
.home .home-insta {
  height: 40vh;
  width: 100%;
  border: 1px solid green;
}

.insta-card {
  display: flex;

  border: 3px solid yellow;
}

/* Film card */
.film-card {
  display: flex;
  border: 2px solid blue;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 2rem 7rem;
}
